<!DOCTYPE html>
<html>
	<head>    
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
       <title>Local attractions</title> 
	   <link rel="stylesheet" href="../static/rental.css" type="text/css" />
	</head>
	<body>
	<!-- Guide bar on the top -->
	<div class="guideBar">
	</div>
	<!-- Title -->
	<div class="main">
		<div class="title">
			<p>Local Attractions</p>
		</div>
	</div>
	
	<!-- The first row of attractions -->
	<div class="main2" >
	
			<div class="attractions" >
				<div class="atdiv">
						<div class="pic">
							<img class="picMap" src="../static/attractions/castle.jpg" alt="castle">
						</div>
					<!-- small map of the attration -->
						<div class="pic">
							<div class="mapouter">
								<div class="gmap_canvas">
									<iframe class="picMap"  src="https://maps.google.com/maps?q=edinburgh%20castle&t=&z=13&ie=UTF8&iwloc=&output=embed"  >
									</iframe>
								</div>
							</div>
						</div> 
				</div>
				<br>
				<div class="atdiv" >
					<h3>Edinburgh Castle</h3>
					<p>Edinburgh Castle is a historic fortress which dominates the skyline of the city of Edinburgh, Scotland, from its position on the Castle Rock. Archaeologists have established human occupation of the rock since at least the Iron Age, although the nature of the early settlement is unclear.</p> 
					<p>Address: 
					Castlehill, Edinburgh EH1 2NG </p>
					<p>Official Site:
					<a href="https://www.edinburghcastle.scot/" >https://www.edinburghcastle.scot/</a></p>
				</div>
			</div>
			
			
			<div class="attractions" >
				<div class="atdiv">
					<div class="pic">
						<img class="picMap" src="../static/attractions/cathedral.jpg" alt="castle">
						</div>
						<!-- small map of the attration -->
						<div class="pic">
							<div class="mapouter">
								<div class="gmap_canvas">
									<iframe class="picMap" src="https://maps.google.com/maps?q=High%20St%2C%20Edinburgh%20EH1%201RE&t=&z=13&ie=UTF8&iwloc=&output=embed" >
									</iframe>
								</div>
							</div>
						</div> 
				</div>
				<div class="atdiv" >
					<h3>St Giles' Cathedral</h3>
					<p>St Giles' Cathedral, also known as the High Kirk of Edinburgh, is the principal place of worship of the Church of Scotland in Edinburgh. Its distinctive crown steeple is a prominent feature of the city skyline, at about a third of the way down the Royal Mile which runs from the Castle to Holyrood Palace. </p> 
					<p>Address: 
					High St, Edinburgh EH1 1RE</p>
					<p>Official Site:
					<a href="https://stgilescathedral.org.uk/">https://stgilescathedral.org.uk/</a></p>
				</div>
			</div>
	</div>
	
	
	
<!-- The second row of attractions -->
	<div class="main2" >
	
			<div class="attractions" >
				<div class="atdiv">
						<div class="pic">
							<img class="picMap" src="../static/attractions/palace.jpg" alt="castle">
						</div>
					<!-- small map of the attration -->
						<div class="pic">
							<div class="mapouter">
								<div class="gmap_canvas">
									<iframe class="picMap" src="https://maps.google.com/maps?q=Canongate%2C%20Edinburgh%20EH8%208DX&t=&z=13&ie=UTF8&iwloc=&output=embed">
									</iframe>
								</div>
							</div>
						</div> 
				</div>
				<br>
				<br>
				<div class="atdiv" >
					<h3>Holyrood Palace</h3>
					<p>The Palace of Holyroodhouse, commonly referred to as Holyrood Palace, is the official residence of the British monarch in Scotland, Queen Elizabeth II.  </p> 
					<br>
					<br>
					<p>	Address: 
					Canongate, Edinburgh EH8 8DX </p>
					<p>Official Site:
					<a href="https://www.rct.uk/visit/palace-of-holyroodhouse" >https://www.rct.uk/visit/palace-of-holyroodhouse</a></p>
					
				</div>
			</div>
			
			
			<div class="attractions" >
				<div class="atdiv">
					<div class="pic">
						<img class="picMap" src="../static/attractions/arthurseat.jpg" alt="castle">
					</div>
			<!-- small map of the attration -->
					<div class="pic">
						<div class="mapouter">
							<div class="gmap_canvas">
								<iframe class="picMap" src="https://maps.google.com/maps?q=Arthur's%20Seat&t=&z=13&ie=UTF8&iwloc=&output=embed"  >
								</iframe>
							</div>
						</div>
					</div> 
				</div>
				
				
				<div class="atdiv" >
					<h3>Arthur's Seat </h3>
					<p>Arthur's Seat is the main peak of the group of hills in Edinburgh, Scotland, which form most of Holyrood Park, described by Robert Louis Stevenson as "a hill for magnitude, a mountain in virtue of its bold design". It is situated just to the east of the city centre, about 1 mile to the east of Edinburgh Castle </p> 
					<p>	Address:  
					Hoolyrood Park,Edinburgh</p>
					<p>Walking guide to Arthur's Seat:
					<a href="http://www.scottishsport.co.uk/walking/arthurseat.htm" >http://www.scottishsport.co.uk/
					walking/arthurseat.htm</a></p>
					
				</div>
			</div>
	</div>
	<!-- Big map of the attractions and the property -->
	<div id="bigMap">
		
			<div class="attractions2">
				<iframe id="bigMap2"	 src="https://www.google.com/maps/d/embed?mid=1TcZue7Pj51F7QWlVlhsHbJJeYClHKjWF" >
				</iframe>
			</div>
	</div>
	</body>
</html>
