<html>
	<head>    
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
       <title>Property homepage</title> 
	   <link rel="stylesheet" href="../static/rental.css" type="text/css" />
	</head>
	<script type="text/javascript" src="../static/gallery.js"></script>
	
	<body>
		<div class="guideBar">
			
		</div>			
		
		<div class="main">
			<!--display property photo gallery-->
			<div class="gallery">
				<div class="photo">
					<div class="photoNum">1 / 6</div>
						<img src="../static/property/property1.jpg">
				</div>
				<div class="photo">
					<div class="photoNum">2 / 6</div>
						<img src="../static/property/property2.jpg">
				</div>
				<div class="photo">
					<div class="photoNum">3 / 6</div>
						<img src="../static/property/property3.jpg">
				</div>
				
				<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
				<a class="next" onclick="plusSlides(1)">&#10095;</a>
				
				<div class="row">
					<div class="column">
					  <img class="demo cursor" src="../static/property/property1.jpg" onclick="currentSlide(1)" alt="1">
					</div>
					<div class="column"> 
					  <img class="demo cursor" src="../static/property/property2.jpg" onclick="currentSlide(2)" alt="2">
					</div>
					<div class="column">
					  <img class="demo cursor" src="../static/property/property3.jpg" onclick="currentSlide(3)" alt="3">
					</div>
				</div>
				
				
			</div>
			<!--open new column-->
			<!--display little map-->
			<div class="map"></div>
			<!--display address-->
			
			<!--go down,display name of apartment along with rating and price per night-->
			
			<!--apartment description-->
			
			<!--location-->
			
			<!--facilities-->
			<!--open new column-->
			<!--rooms-->
			<!--transport-->
			
			<!--go down,display other details-->
			
			<!--owner--><!--with contact owner button-->
			
			<!--reviews-->
		</div>
	
	</body>
</html>