/* login link */
.login{
	position:absolute;
	right: 1%;
	top: 45%;
}
.mini{
	position:absolute;
	top: 100px;
	right: 10%;
	text-align:left;
	grid-area: address;
	width: 30vw;
}
#address{
	width:300px;
}
.anchor{
	margin-top: -75px;
	padding-top:75px;
}
.price{
	position:absolute;
	right: 18%;
	bottom: 18%;
	font-weight: bold;
}
.upper_grid{
	display: inline-grid;
	grid-column-gap: 15%;
	grid-row-gap: 50px;
	grid-template-areas:
		'gallery address';
	margin-top: -7px;
}
#facilities{
	grid-area:facilities;
}
#rooms{
	grid-area:rooms;
}
#transport{
	grid-area:transport;
	grid-row: 1 / span 2;
}
.roomsNtransport {
	width: vw;
	list-style-type: none;
}

.rmc{
	margin-left: 10em;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
.grid{
	display: inline-grid;
	grid-column-gap: 15%;
	grid-row-gap: 50px;
	grid-template-areas:
		'facilities rooms'
		'. transport'
}
#fhalf{
	grid-area:fhalf;
}
#shalf{
	grid-area:shalf;
}
.subGrid{
	display: inline-grid;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	grid-template-areas:
		'fhalf shalf'
}
#sText{
	font-size: small;
}
#reviewTitle{
	display: inline;
}
#reviewTime{
	color: gray;
	margin-left: 40px;
}

.reviewList{
	margin:10px;
	padding: 20px;
	width: 80%;
	border-radius: 30px;
	-moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 10px #000000;
	background-color: #FFFFFF;
}
#reviewText{
	line-height: 35px;
}