/*14 Nov ver 1.0.0*/
/*background image*/
body{
	background-image: url(../static/background.jpg);
	background-attachment: fixed;
	background-size:cover;
}
/*guide bar on the top*/
.navBar {
	height:75px;
	width:100%;
	background-color:#0A2861;
	position:fixed;
	text-align: left;
	top:0px;
	left:0px;
	overflow: hidden;
	color: white;
	padding: 0;
	margin: 0;
	font-family:Arial;
	z-index: 999999;
}
.navBar li{
	display: inline-block;
	padding: 20px;
	font-family: sans-serif;
	-webkit-transition-duration: 0.4s; 
   transition-duration: 0.4s;
}
.navBar li:hover{
	background-color: #337AFF;
}
.navBar a{
	display: block;
	text-decoration: none;
	color: inherit;
}
@media screen and (max-width: 640px){
	ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15%;
		text-align: left;
	}
}

.mini{
	position:absolute;
	top: 100px;
	right: 10%
	
}
.price{
	position:absolute;
	right: 10%
	
}
/*main content background*/
.main {
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	margin-top:10vh;
	margin: 75px;
}
/*title font*/
.title{
	padding-left:5%;
	font-family:sans-self;
	font-weight: bold;
	color:#FFFFFF;
	font-size:5em;
}
/*attractions css*/
.attractions {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:62vh;
	background-color:#FFFFFF;
	float:left;
	margin-left:60px;
}
.atdiv{
	float:left;
	width:17vw;
	padding-left:10px;
	padding-bottom:10px;
}
.pic {
	padding-left:10px;
	padding-top:20px;
}
.text {
	float:left;
	width:17vw;
	padding-left:10px;
	padding-bottom:10px;
}
.clearFix{
	clear: both;
}
.main2 {
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:75vh;
}
.attitle {
	margin-top:3vh;
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:35vh;
}

/*attributes to big map for attractions*/
#bigMap {
	padding-left:3%;
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:70vh;
	width:88.1vw;
}
#bigMap2{
	width:75.8vw; 
	height:65vh;
	border:none;
}
.attractions2 {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:58vh;
	float:left;
	margin-left:60px;
}

/*attributes to small map for attractions and size for pictures*/
.mapouter{
	text-align:right;
	height:24.5vh;
	width:15.5vw;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:24.5vh;
	width:15.5vw;
}
.picMap{
	border:none;
	width:15.5vw; 
	height:24.5vh;
}
.attractions2 {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:58vh;
	float:left;
	margin-left:60px;
}
/* rental page css */
	#tableBox{margin-left:4%}
/* botton design */
.button {
    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}
/**/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
  position: static;
}

/* Hide the images by default */
.photo {
  display: none;
  width:30%;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 38%;
  border-radius: 3px 0 0 3px;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: 0.2s; 
   transition-duration: 0.2s;
}

/* Number text (1/3 etc) */
.photoNum {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
