/* rental page css */
#tableBox{
	display: inline-table;
	margin-left:4%;
	padding:20px;
	border-radius: 30px;
	-moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 10px #000000;
	background-color: #FFFFFF;
	float:left;
}
.bookings,
.price_summary{
	margin:0;
	padding: 20px;
	position: absolute;
	float:left;
	top: 30%;
	right: 30%;
	width: 30%;
	height: 30%;
	border-radius: 30px;
	-moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 10px #000000;
	background-color: #FFFFFF;
}
#bookingForm td{
	padding: 10px; 
	width: 100px;
	margin-bottom: 10px;
}
.bookings{
	float: none;
	top: 6.5em;
	right: 20vw;
	height: 42vh;
}
.main{
	height:120vh!important;
}
#states:nth-child(1){
	float:left
}
.price_info{
	float: right;
	font-size: 20px;
	margin-top: -3px;
}
.reserved{
	background: #f00 !important;
    color: #fff !important;
}
input{
	border:1.3px solid #008CBA!important;}
h2{
	border-left: 6px solid #008CBA!important;
	background-color: lightgrey!important;
}

.requestTable{
    border: 1px solid black;
    width: 200px;
    min-height: 25px;
    line-height: 25px;
    border-collapse: collapse;
}
.requestTable td{
	padding: 8px;
}