/*14 Nov ver 1.0.0*/
/*background image*/
body{
	background-image: url(../static/background.jpg);
	background-attachment: fixed;
	background-size:cover;
}
/*guide bar on the top*/
.navBar {
	height: 75px;
	width:100%;
	background-color:#0A2861;
	position:fixed;
	text-align: left;
	top:0px;
	left:0px;
	overflow: hidden;
	color: white;
	padding: 0;
	margin: 0;
	font-family:Arial;
	z-index: 999999;
}

.navBar ul{
	position: absolute;
	left: 2.5%;
	width: 64%;
	display: inline-block;
}
.navBar li{
	display: inline-block;
	font-family: sans-serif;
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
.navBar li:hover{
	background-color: #337AFF;
}
.navBar a{
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 20px;
}
.navBar button{
	position: absolute;
	right: 10%;
	margin-top: 10px;
}
@media screen and (max-width: 640px){
	ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15%;
		text-align: left;
	}
}

.mini{
	position:absolute;
	top: 100px;
	right: 10%;
	text-align:left;
	grid-area: address;
	width: 30vw;
}
#address{
	width:300px;
}
.anchor{
	margin-top: -75px;
	padding-top:75px;
}
.price{
	position:absolute;
	right: 10%
}
.upper_grid{
	display: inline-grid;
	grid-column-gap: 15%;
	grid-row-gap: 50px;
	grid-template-areas:
		'gallery address';
	margin-top: -7px;
}
#facilities{
	grid-area:facilities;
}
#rooms{
	grid-area:rooms;
}
#transport{
	grid-area:transport;
	grid-row: 1 / span 2;
}
.grid{
	display: inline-grid;
	grid-column-gap: 15%;
	grid-row-gap: 50px;
	grid-template-areas:
		'facilities rooms'
		'. transport'
}
#fhalf{
	grid-area:fhalf;
}
#shalf{
	grid-area:shalf;
}
.subgrid{
	display: inline-grid;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	grid-template-areas:
		'fhalf shalf'
}
#sText{
	font-size: small;
}
/*main content background*/
.main {
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	margin-top:75px;
	
}
/*title font*/
.title{
	padding-left:5%;
	font-family:sans-self;
	font-weight: bold;
	color:#FFFFFF;
	font-size:5em;
}
/*attractions css*/
.attractions {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:62vh;
	background-color:#FFFFFF;
	float:left;
	margin-left:60px;
}
.atdiv{
	float:left;
	width:17vw;
	padding-left:10px;
	padding-bottom:10px;
}
.pic {
	padding-left:10px;
	padding-top:20px;
}
.text {
	float:left;
	width:17vw;
	padding-left:10px;
	padding-bottom:10px;
}
.clearFix{
	clear: both;
}
.main2 {
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:75vh;
}
textarea{
	border: none;
	border-radius:10px;
	padding: 5px;
}
input{
	border: none;
	border-radius:7px;
	padding: 5px;
}
.attitle {
	margin-top:3vh;
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:35vh;
}

.roomsNtransport {
	width: vw;
	list-style-type: none;
}

.rmc{
	margin-left: 10em;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}
/*attributes to big map for attractions*/
#bigMap {
	padding-left:3%;
	background-color:#99CCFF;
	padding:2em;
	margin-left:5%;
	margin-right:5%;
	height:70vh;
	width:88.1vw;
}
#bigMap2{
	width:75.8vw; 
	height:65vh;
	border:none;
}
.attractions2 {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:58vh;
	float:left;
	margin-left:60px;
}

/*attributes to small map for attractions and size for pictures*/
.mapouter{
	text-align:right;
	height:24.5vh;
	width:15.5vw;
}
.addMap{
	text-align: left;
	right: 10%;
	margin: 0;
	border:none;
	height: 20%;
	width: 80%;
	overflow:hidden;
	background:none!important;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:24.5vh;
	width:15.5vw;
}
.picMap{
	border:none;
	width:15.5vw; 
	height:24.5vh;
}
.attractions2 {
	font-family:Arial,Helvitica,sans-self;
	width:36vw;
	height:58vh;
	float:left;
	margin-left:60px;
}
/* rental page css */
#tableBox{
	display: inline-table;
	margin-left:4%;
	width: 50%;
}
.calculator{
	margin:0;
	padding: 20px;
	position: absolute;
	top: 30%;
	right: 15%;
	width: 32%;
	height: 65%;
	border-radius: 30px;
	-moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 10px #000000;
	background-color: #FFFFFF;
	}
#states:nth-child(1){
	float:left
}
#cal{
	float: right;
	font-size: 20px;
	margin-top: -3px;
}
td.reserved > a{
	background: #f00 !important;
    color: #fff !important;
}
/* botton design */
.button {
    
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button1:hover {
    background-color: #008CBA;
    color: white;
}
/**/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
	width: 70%;
	height: 80%;
	position: relative;
	grid-area: gallery;
}

/* Hide the images by default */
.photos {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* review box */
#reviewBox{
	width: 40%;
}

