<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin login</title>
		<link rel="stylesheet" href="../static/rental.css" type="text/css" />
		<link rel="stylesheet" href="../static/adminPage.css" type="text/css" />
</head>
<body>
	<div class="navBar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/attractions">Attractions</a></li>
		</ul>
	</div>
	<div class="main">
		<h1>All bookings</h1>
		<br>
		<button class="button button1" name="confirm">Confirm</button>
		<hr>
		
		<!-- shows the rental request detail list -->
		<table>
			<tr>
				<th><input type="checkbox" name="selectAll">Choose all</th>
				<th>Check in date</th>
				<th>Check out date</th>
				<th>Name</th>
				<th>No. of adults</th>
				<th>No. of children</th>
				<th>E-mail</th>
				<th>Phone Number</th>
				<th>booking status</th>
			</tr>
			{% for line in requestList%}
				<tr>
				{% for item in line %}
					<td>
					{{item}}
					</td>
					{%endfor%}
				</tr>
			{%endfor%}
		</table>
		
	</div>
</body>
</html>