<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin login</title>
		<link rel="stylesheet" href="../static/rental.css" type="text/css" />
	
</head>
<body>
	<div class="navBar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/attractions">Attractions</a></li>
		</ul>
	</div>
	<div class=main>
		<h1>All bookings</h1>
		<br>
		<input type="checkbox" name="selectAll">Choose all<br>
		<input type="button" class="button button1" name="confirm">Confirm</button>
		<hr>
		<table>
			<tr>
				<td>Check in date</td>
				<td>Check out date</td>
				<td>stay time</td>
				<td>Name</td>
				<td>No. of people</td>
				<td>E-mail</td>
				<td>Phone Number</td>
				<td>booking status</td>
			</tr>
			{% for line in requestList%}
				<tr>
				{% for items in line%}
					<td>
					{{items}}
					</td>
				{% endfor%}
				</tr>
			{%endfor%}
		</table>
		
	</div>
</body>
</html>