<!DOCTYPE html>
<html>
	<head>
			<meta charset="UTF-8">

			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Admin login</title>
			<link rel="stylesheet" href="../static/rental.css" type="text/css" />
			<link rel="stylesheet" href="../static/adminPage.css" type="text/css" />
			<script>
				<!-- function to let user to tick all boxes in a go -->
				function checkAll(box){
					checkboxes = document.getElementsByName('bkLine');
					var n = checkboxes.length;
					
					for(var i=0 ; i<n ; i++) {
						checkboxes[i].checked = box.checked;
					}
				}
			</script>
	</head>
	<body>
		<!-- top bar to allow user to go back to home page or view attractions -->
		<div class="navBar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/attractions">Attractions</a></li>
			</ul>
		</div>
		<div class="main">
			<div class="tableBox">
				<h1>All bookings</h1>
				<!-- shows the rental request detail list -->
				<form action="/confirmBookings" method="post">
					<table>
						<tr>
							<th><input type="checkbox" name="selectAll" onclick="checkAll(this)"></th>
							<th>Check in date</th>
							<th>Check out date</th>
							<th>Title</th>
							<th>Name</th>
							<th>No. of adults</th>
							<th>No. of children</th>
							<th>E-mail</th>
							<th>Phone Number</th>
							<th>booking status</th>
						</tr>
						{% for line in requestList%}
							<tr>
								<td>
									<input type="checkbox" name="bkLine" id="bkLine" value="{{loop.index0}}">
								</td>
							{% for item in line %}
								<td>
									{{item}}
								</td>
							{%endfor%}
							</tr>
						{%endfor%}
					</table>
					<br>
					<hr>
				
					<button class="button button1" type="submit" name="confirm" id="confirm">Confirm</button>
				</form>
				<!-- display message after the owner confirm booking(s) -->
				<b>{{success_message}}</b>
			</div>
		</div>
	</body>
</html>