<html>
	<head>    
       <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
       <title>Local attractions</title> 
	   <link rel="stylesheet" href="../static/rental.css" type="text/css" />
	</head>
	<body>
	
	<div class="guideBar">
	</div>
	
	
	
	
	<div class="main3" >
	
			<div class="attractions" >
				<div class="atdiv">
						<div class="pic">
							<img src="../static/attractions/castle.jpg" width="240" height="180" alt="castle">
						</div>
						
						<div class="pic">
						<div class="mapouter">
							<div class="gmap_canvas">
								<iframe width="240" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=edinburgh%20castle&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
								<a href="https://www.pureblack.de">pure black gmbh</a></div><style>.mapouter{text-align:right;height:180px;width:240px;}.gmap_canvas {overflow:hidden;background:none!important;height:180px;width:240px;}</style>
								</div>
						<!-- <iframe width="240" height="180" frameborder="0" style="border:0" -->
<!-- src="https://www.google.com/maps/embed/v1/place?q=Edinburgh%20Castle&key=AIzaSyDtUQGxq7MriIDMJM2Nw9dWHYZ_aQs5Haw" allowfullscreen></iframe>  -->
							<!-- <img src="../static/attractions/castle_map.png" width="240" height="180" alt="castle_map"> -->
						</div> 
				</div>
				<br>
				<div class="atdiv" >
					<h3>Edinburgh Castle</h3>
					<p>Edinburgh Castle is a historic fortress which dominates the skyline of the city of Edinburgh, Scotland, from its position on the Castle Rock. Archaeologists have established human occupation of the rock since at least the Iron Age, although the nature of the early settlement is unclear.</p> 
					<p>Address: </p>
					<p>Castlehill, Edinburgh EH1 2NG </p>
					<p>Official Site:
					<a href="https://www.edinburghcastle.scot/" >https://www.edinburghcastle.scot/</a></p>
					
					
				</div>
			</div>
			<div class="attractions" >
				<div class="atdiv">
					<div class="pic">
						<img src="../static/attractions/cathedral.jpg" width="240" height="180" alt="castle">
						</div>
						
						<div class="pic">
							<div class="mapouter"><div class="gmap_canvas"><iframe width="240" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=High%20St%2C%20Edinburgh%20EH1%201RE&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">werbeagentur</a></div><style>.mapouter{text-align:right;height:180px;width:240px;}.gmap_canvas {overflow:hidden;background:none!important;height:180px;width:240px;}</style></div>
						</div> 
				</div>
				<div class="atdiv" >
					<h3>St Giles' Cathedral</h3>
					<p>St Giles' Cathedral, also known as the High Kirk of Edinburgh, is the principal place of worship of the Church of Scotland in Edinburgh. Its distinctive crown steeple is a prominent feature of the city skyline, at about a third of the way down the Royal Mile which runs from the Castle to Holyrood Palace. </p> 
						Address: </p>
					<p>High St, Edinburgh EH1 1RE</p>
					<p>Official Site:
					<a href="https://stgilescathedral.org.uk/">https://stgilescathedral.org.uk/</a></p>
						
					
					
					
				</div>
			</div>
		
	</div>
	<div class="main2" >
			<div class="attractions" >
				<div class="atdiv">
						<div class="pic">
							<img src="../static/attractions/palace.jpg" width="240" height="180" alt="castle">
						</div>
						
						<div class="pic">
							<div class="mapouter"><div class="gmap_canvas"><iframe width="240" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=Canongate%2C%20Edinburgh%20EH8%208DX&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">werbeagentur</a></div><style>.mapouter{text-align:right;height:180px;width:240px;}.gmap_canvas {overflow:hidden;background:none!important;height:180px;width:240px;}</style></div>
						</div> 
				</div>
				<br>
				<br>
				<div class="atdiv" >
					<h3>Holyrood Palace</h3>
					<p>The Palace of Holyroodhouse, commonly referred to as Holyrood Palace, is the official residence of the British monarch in Scotland, Queen Elizabeth II.  </p> 
					<p>	Address: </p>
					<br>
					<br>
					<p>Canongate, Edinburgh EH8 8DX </p>
					<p>Official Site:
					<a href="https://www.rct.uk/visit/palace-of-holyroodhouse" >https://www.rct.uk/visit/palace-of-holyroodhouse</a></p>
					
				</div>
			</div>
			<div class="attractions" >
				<div class="atdiv">
					<div class="pic">
						<img src="../static/attractions/arthurseat.jpg" width="240" height="180" alt="castle">
						</div>
						
						<div class="pic">
							<div class="mapouter"><div class="gmap_canvas"><iframe width="240" height="180" id="gmap_canvas" src="https://maps.google.com/maps?q=Arthur's%20Seat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">werbeagentur</a></div><style>.mapouter{text-align:right;height:180px;width:240px;}.gmap_canvas {overflow:hidden;background:none!important;height:180px;width:240px;}</style></div>
						</div> 
				</div>
				<div class="atdiv" >
					<h3>Arthur's Seat </h3>
					<p>Arthur's Seat is the main peak of the group of hills in Edinburgh, Scotland, which form most of Holyrood Park, described by Robert Louis Stevenson as "a hill for magnitude, a mountain in virtue of its bold design". It is situated just to the east of the city centre, about 1 mile to the east of Edinburgh Castle </p> 
					<p>	Address:  </p>
					<p>Hoolyrood Park,Edinburgh</p>
					<p>Official Site:
					<a href="https://www.rct.uk/visit/palace-of-holyroodhouse" >https://www.rct.uk/visit/palace-of-holyroodhouse</a></p>
					
				</div>
			</div>
	</div>
	<div><iframe src="https://www.google.com/maps/d/embed?mid=1TcZue7Pj51F7QWlVlhsHbJJeYClHKjWF" width="640" height="480"></iframe>
	</div>
	
	</body>
</html>
