<!DOCTYPE html>
<html lang="en">
	<head>    
		<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
		<title>Property homepage</title> 
	    <link rel="stylesheet" href="../static/rental.css" type="text/css" />
		<link rel="stylesheet" href="../static/home.css" type="text/css" />
		<link rel="stylesheet" href="../static/gallery.css" type="text/css" />
		<link rel="stylesheet" href="../static/starRating.css" type="text/css" />
		<script src="../static/starRating.js"></script>
	</head>

	<body>
		<div class="navBar">
			<ul>
				<li><a href="#description">Apartment Description</a></li>
				<li><a href="#location">Location</a></li>
				<li><a href="#facilities">Facilities,Rooms,Transport</a></li>
				<li><a href="#details">Other Details</a></li>
				<li><a href="#owner">Owner</a></li>
				<li><a href="#reviews">Reviews</a></li>
				<li><a href="/attractions">Local Attractions</a></li>
			</ul>
			
			<div class=price>£{{displayPrice}}/ night<br>(*without rates)</div>
			<form style="padding:0" action="/rentalDetail" method="get">
				<button class="button button1" type="submit" id=rent>Rent Now!</button>
			</form>
			<a href="/loginPage" class="login">admin login</a>
		</div>			

		<div class="main">
			<div class="upper_grid">
			<!--display property photo gallery-->
				<div class="gallery">
					<div class="photos">
						<div class="numbertext">1 / 9</div>
							<img src="../static/property/property1.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">2 / 9</div>
							<img src="../static/property/property2.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">3 / 9</div>
							<img src="../static/property/property3.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">4 / 9</div>
							<img src="../static/property/property4.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">5 / 9</div>
							<img src="../static/property/property5.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">6 / 9</div>
							<img src="../static/property/property6.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">7 / 9</div>
							<img src="../static/property/property7.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">8 / 9</div>
							<img src="../static/property/property8.jpg" style="width:100%" alt="property image">
					</div>
					<div class="photos">
						<div class="numbertext">9 / 9</div>
							<img src="../static/property/property9.jpg" style="width:100%" alt="property image">
					</div>
					
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
					
						<div class="row">
							<div class="column">
							  <img class="demo cursor" src="../static/property/property1.jpg" style="width:100%" onclick="currentSlide(1)" alt="image thumbnail">
							</div>
							<div class="column"> 
							  <img class="demo cursor" src="../static/property/property2.jpg" style="width:100%" onclick="currentSlide(2)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property3.jpg" style="width:100%" onclick="currentSlide(3)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property4.jpg" style="width:100%" onclick="currentSlide(4)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property5.jpg" style="width:100%" onclick="currentSlide(5)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property6.jpg" style="width:100%" onclick="currentSlide(6)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property7.jpg" style="width:100%" onclick="currentSlide(7)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property8.jpg" style="width:100%" onclick="currentSlide(8)" alt="image thumbnail">
							</div>
							<div class="column">
							  <img class="demo cursor" src="../static/property/property9.jpg" style="width:100%" onclick="currentSlide(9)" alt="image thumbnail">
							</div>
						</div>

				</div>
			</div>
			<!--open new column-->
			<!--display little map-->
			<div class="mini">
				<div class="addMap_wrapper">
					<!-- <div class="gmap_canvas"> -->
						<iframe class="addMap" src="https://maps.google.com/maps?q=Lochend%20Park%20View&t=&z=17&ie=UTF8&iwloc=&output=embed">
						</iframe>
					<!-- </div> -->
				</div>
				<!--display address-->
				<h2>Address</h2>
				<p id = address>15 Lochend Park View, Edinburgh, EH7 5FX, United Kingdom</p>
			</div>
			<!--go down,display name of apartment along with rating and price per night-->
			<h1>Lochend Park View Apart. A&B </h1>
			<!--apartment description-->
			<div id=description class ="anchor">
				<h2>Apartment Description</h2>
				
				<p>Located on the 3rd floor with lift access in the building.</p>
				<h3>Living room</h3>
				<p>There are large double sofa bed, coffee table, flat screen TV, DVD and French windows that open to a balcony where you can enjoy morning tea or coffee with a superb view over the park and the pond. 
				There's a sofa bed sleep up to 2 people.The dining area has a big table with 5 chairs.</p>
				
				<h3>Kitchen</h3>
				<p>Fully equipped with kitchen appliances: large fridge/freezer, dishwasher, oven and hob, microwave, kettle, toaster, washing machine, cutlery and crockery.</p>
				
				<h3>Master bedroom</h3>
				<p>The master bedroom has an en-suite with a stand in electric shower cubicle, a kingsize bed or 2 single beds, 
				a good size built-in wardrobe and big double windows with a superb view of the Carlton Hill and Arthur's Seat.</p>
				
				<h3>en-suite bedroom</h3>
				<p>The en-suite bedroom has 2 single beds or 1 super kingsize bed, a built-in wardrobe and a view of the park. The main bathroom has a bath with an over bath shower. 
				There is a separate cupboard for shoes and jackets.</p>
				<p>Genius luxury 1500 pocket sprung and hypo-allergenic mattresses -hotel style zip and link beds so can be make up with 2 single beds or a king size bed in each bedroom.</p>
			</div>
			<!--location-->
			<div id=location class ="anchor">
				<h2>Location</h2>
				
				<p>5 minutes walk to Meadowbank shopping centre with Sainsbury's superstore,M&S,TKmaxx,KFC etc., also have a Tesco super store open till midnight.</p>
				<p>Easy access to Edinburgh City Centre and Princes Street, be it for business or pleasure.</p>
				<p>15-20 minutes walk from most of the main attractions in Scotland's capital city including:</p>
				<ul>
					<li>the Scottish Parliament</li>
					<li>The Royal Residence at Holyrood Palace</li>
					<li>the Royal Mile</li>
					<li>Princes St. Playhouse</li>
					<li>Artur's Seat</li>
				</ul>
				<p>Located in the modern Horizon development next to Lochend Loch and Lochend Park.</p>
				<p>Close to The Shore in Leith, where you will find a plentiful supply of pubs,restaurants, including Michelin Star dining and the Royal Yacht Britannia in Ocean Terminal Shopping Centre. </p>
			</div>
			<!--facilities-->
			<div class = "grid">
				<div id=facilities class ="anchor">
					<h2>Facilities</h2>
					
					<div class="subGrid">
						<div id=fhalf>
							<ul>
								<li>Heating<br><span class="sText">gas central heating</span></li>
								<li>Parking<br><span class="sText">large free car park next to the building</span></li>
								<li>Garage<br><span class="sText">free private underground car park</span></li>
								<li>Iron & Board</li>
								<li>Hair Dryer</li>
								<li>Elevator<br><span class="sText">access to the apartment and the underground car park</span></li>
								<li>Television<br><span class="sText">32'LED SAMSUNG</span></li>
								<li>Balcony<br><span class="sText">large balcony with table and 2 chairs</span></li>
							</ul>
						</div>
						<div id=shalf>
							<ul>
								<li>secure entry system and CCTV</li>
								<li>Linens Provided<br><span class="sText">all linens provided</span></li>
								<li>Washing Machine<br><span class="sText">electrolux washing machine with dryer</span></li>
								<li>Tumble Dryer<br><span class="sText">1 clothes dryer</span></li>
								<li>Dining Area<br><span class="sText">large table with 5 chairs and children highchair</span></li>
								<li>Internet<br><span class="sText">Wi-Fi access</span></li>
								<li>Wireless Internet</li>
								<li>Free Wifi</li>
							</ul>
						</div>
					</div>
				</div>
				<!--open new column-->
				<div class=roomsNtransport>
				<!--rooms-->
					<div id=rooms class ="anchor">
						<h2>Rooms</h2>
						
						<ul id="rmc">
							<li>Size: 645 sq. ft.</li>
							<li>1 twin en-suite bedroom</li>
							<li>1 kitchen</li>
							<li>2 bathroom</li>
							<li>1 master bedroom</li>
							<li>1 living room</li>
						</ul>
					</div>
					<!--transport-->
					<div id="transport" class ="anchor">
						<h2>Transport</h2>
						
						<p>24/7 bus services nearby</p>
						<ul>
							<li>Bus no.35: a few minutes to Scottish Parliament, The Royal Residence at Holyrood Palace, the Royal Mile,National Museum of Scotland, 
							Old Town and direct from Edinburgh Airport to the apartment, ticket cost £1.60 per person</li>
							
							<li>Bus no.1:a few minutes to Princes Street and West End</li>
							<li>Bus no.26: 20 minutes to Edinburgh Zoo or opposite direction to Portobello Beach(Edinburgh's seaside)</li>
						</ul>
						<p>for more information, please visit <a href="https://www.lothianbuses.com/">https://www.lothianbuses.com/</a></p>
						<p>Taxi is also available:</p>
						<ul>
							<li>from the apartment to Edinburgh airport: ~£ 25</li>
							<li>from apartment to Waverley Train Station,Royal Mile and Princes St.: £7</li>
						</ul>
						<p>15-25 minutes walk to Waverley Train Station,Royal Mile and Princes St. </p>
					</div>
				</div>
			</div>
			<!--go down,display other details-->
			<div id=details class ="anchor">
				<h2>Other details</h2>
				
				<p>check-in time: after 14:00<br>
				   check-out time: before 11:00<br>
				   Minimum 2 nights stay<br> 
				   require security refundable deposit of £150/ 150 Euro is payable on arrival (in cash) and return at check-out day<br>
				   A complimentary welcome pack is provided on arrival: coffee, tea, sugar, milk and set of basic cleaning products 
				   (washing powder, washing machine tablets, liquid for dishes, liquid soap, toilet paper, garbage bags)<br>
				   Cot / travel cot, High chair is provided<br>
				   No smoking<br>
				   No Pets<br>
				   STRICTLY NOT SUITABLE FOR HENS PARTY, STAGS PARTY OR ROWDY GROUPS
				</p>
			</div>
			<!--owner information-->
			<div id=owner class ="anchor">
				<h2>Owner</h2>        
				
				<h4>Henry Wade</h4>
				<p>Hi, I am Henry Wade! Nice to see you guys interested in my property. I run many other similiar holiday property in the UK for many years and always have positive feedback from customers.
				If you have any question, feel free to ask me anytime! :)</p>
			</div>
			<!--reviews section-->
			<div id=reviews class ="anchor">
				<h2>Reviews</h2>
				<form action="addReviews"  method= "post" id="userReview" autocomplete="off">
					
					Name:
					<input id="namebox" type="text" name="reviewerName" required maxlength="32" size="20" placeholder="Your name" >
					<!-- Star rating -->
					&#9; Rating:
					<div class="rating">
						<label>
							<input type="radio" name="stars" value="1" />
							<span class="icon">★</span>
						</label>
						<label>
							<input type="radio" name="stars" value="2" />
							<span class="icon">★</span>
							<span class="icon">★</span>
						</label>
						<label>
							<input type="radio" name="stars" value="3" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>   
						</label>
						<label>
							<input type="radio" name="stars" value="4" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
						</label>
						<label>
						<input type="radio" name="stars" value="5" />
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
							<span class="icon">★</span>
						</label>
					</div>
					<br>
					Title:<br>
					<input id="title" type="text" name="title" required size="20" placeholder="Title">
					<br>
					Your comments<br>
					<textarea id="reviewBox" rows="6" form="userReview" required name="review" placeholder="Your comments"></textarea><br>
					
					<button class="button button1" type="submit" value="submit">Submit</button>
					
				</form>
				
				<br><br>
				<!-- display reviews from csv -->
				
				{% for line in detailList%}
					<div class="reviewList">
					{{line[0]}} <span id="reviewTime">posted on {{line[4]}}</span><br><br>
					<h3 id="reviewTitle">{{line[2]}}</h3>
					<!-- display respective number of colored star according to rating -->
						{% for i in range(0,5)%}
							{% if i < line[1] %}
								<span class="icon" style="color: #ffa500;">★</span>
							{% else %}
								<!-- display remaining stars in black -->
								<span class="icon">★</span>
							{% endif %}
						{%endfor%}
					<br>
					<span id="reviewText">{{line[3]}}</span><br>
					</div>
				{%endfor%}
			</div>
		</div>
		<script src="../static/gallery.js"></script>
	</body>
</html>
