<html>
	<head>    
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	<title>Property homepage</title> 
	   <link rel="stylesheet" href="../static/rental.css" type="text/css" />
	</head>

	<body>
		<div class="guideBar">

		</div>			

		<div class="main">
			<!--display property photo gallery-->
			<div class="gallery">


			</div>
			<!--open new column-->
			<!--display little map-->
			<div class="map"></div>
			<!--display address-->

			<!--go down,display name of apartment along with rating and price per night-->

			<!--apartment description-->

			<!--location-->

			<!--facilities-->
			<!--open new column-->
			<!--rooms-->
			<!--transport-->

			<!--go down,display other details-->

			<!--owner--><!--with contact owner button-->

			<!--reviews-->
		</div>

	</body>
</html>
