<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin login</title>
		<link rel="stylesheet" href="../static/rental.css" type="text/css" />
	
	</head>
	<body>
		<div class="navBar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/attractions">Attractions</a></li>
			</ul>
		</div>
		<div class=main>
		<h1>Welcome</h1>
			
            <form class="form" method="post" action="adminLogin" >
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password"><br>
                <a href="/adminLogin"><button class="button button1" type="submit" value="submit">Login</button></a>
				<br>
				<p>{{message}}</p>
            </form>
		</div>
	</body>
</html>