<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin login</title>
		<link rel="stylesheet" href="../static/rental.css" type="text/css" />
		<link rel="stylesheet" href="../static/adminLogin.css" type="text/css" />
	</head>
	<body>
		<!-- top bar to allow user to go back to home page or view attractions -->
		<div class="navBar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/attractions">Attractions</a></li>
			</ul>
		</div>
		<div class="main">
			<h1>Admin Login</h1>
				<!-- username and password input form -->
				<form class="form" method="post" action="adminLogin" autocomplete="off"   >
					<table id="center">
						<tr>
							<td>
							Username:
							</td>
							<td>
							<input type="text" placeholder="Username" name="username" required>
							</td>
						</tr>
						<tr>
							<td>
							Password:
							</td>
							<td>
							<br>
							<input type="password" placeholder="Password" name="password" required><br><br>
							</td>
						</tr>
					</table>
					
					<button class="button button1" type="submit" value="submit">Login</button>
					<br>
					<!-- error message shows when input wrong username or password -->
					<p>{{message}}</p>
					<p>hints:username:admin password:123456</p>
				</form>
		</div>
	</body>
</html>