<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <title>Requst for a rental</title> 
	    <link rel="stylesheet" href="../static/rental.css" type="text/css" />
		<link rel="stylesheet" href="../static/rental_page.css" type="text/css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="../static/jquery-ui.js"></script>
		<script src="../static/datepicker.js"></script>
		<script src="../static/disableSecondSubmit.js"></script>
	</head>
	<body>
		<div class="navBar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/attractions">Attractions</a></li>
			</ul>
		</div>
			
		<div class="main" >
			<div id="tableBox">
			{{Message}}
			<h1>Request details</h1>
				<form  onsubmit="return dosubmit()" action="bookingSummary" method= "post" autocomplete="off" >
					<table id="bookingForm">
					<!-- set time for check in and out  -->
						<tr>
							<td>
								<label for="from" >Check In</label>
								<input type="text" id="from" name="checkIn" required placeholder="dd/mm/yyyy" value="{{tempBookings[0]}}">
							</td>
							
							<td>
								<label for="to">Check out</label>
								<input type="text" id="to" name="checkOut" required placeholder="dd/mm/yyyy" value="{{tempBookings[1]}}">
							</td>
						</tr>
						<!-- input title and name	 -->
						<tr>
							<td>Title<input list="title" name="title" required value="{{tempBookings[2]}}">
								<datalist id="title">
									<option value="Mr">
									<option value="Mrs">
									<option value="Miss">
									<option value="Ms">
								</datalist>
							</td>
							
							<td>Name<input type="text" name="firstName" required value="{{tempBookings[3]}}">
							</td>
						</tr>
						<!-- set numbers of guests -->
						<tr>
							<td>Adult(s)<input list="adultsNumbers" name="adultsNumbers" required value="{{tempBookings[4]}}">
							  <datalist id="adultsNumbers">
								<option value="1">
								<option value="2">
								<option value="3">
								<option value="4">
							  </datalist>
							</td>
							
							<td>Child(ren)<input list="childrenNumbers" name="childrenNumbers" required value="{{tempBookings[5]}}">
							 <datalist id="childrenNumbers" >
								<option value="0">
								<option value="1">
								<option value="2">
							</datalist>
							</td>
						</tr>
						
						<tr>
							<td>
								<!-- input contact email-->
								E-mail<input type="email" name="email" required placeholder="example@example.com" value="{{tempBookings[6]}}">
							</td>
							
							<td>
								<!-- input contact email-->
								Phone No.(w/ country code)<input type="text" name="phoneNo" required placeholder="+44123456789" value="{{tempBookings[7]}}">
							</td>
						</tr>
						
					</table>
					<!-- submit button	 -->
					<button class="button button1"  type="submit" value="submit" id="submit">Submit</button>
				</form>
			</div>
			<div class="bookings">
				<!-- display the request list without personal details -->
				<h2>&nbsp &nbsp All Bookings</h2>
				<table class="requestTable">
					<tr>
						<th>Check In</th>
						<th>Check Out</th>
						<th>Booking Status</th>
					</tr>
					{% for line in simList%}
					<tr class="bookingLine">
						<td class="checkin">{{line[0]}}</td>
						<td class="checkout">{{line[1]}}</td>
						<td class="status">{{line[2]}}</td>
					</tr>
					{%endfor%}
				</table>
			</div>
		</div>
			
			
	</body>
</html>